@import "tailwindcss";

@keyframes marquee {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes marquee-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 35s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

.animate-marquee-left {
  display: flex;
  width: max-content;
  animation: marquee-left 35s linear infinite;
}

.animate-marquee-fast {
  display: flex;
  width: max-content;
  animation: marquee-left 14s linear infinite;
}

.animate-marquee-fast:hover {
  animation-play-state: paused;
}
